@{
    Layout = "~/Views/Shared/MasterLayoutPage.cshtml";
}


<style>
</style>
<h1 style="color:black  ;"> <strong> Điện Thoại - Máy Tính Bảng </strong>   </h1>
<div id="banner">
    <td colspan="2 ">
        <b>
          
            <img src="~/Content/anh/Ảnh chụp màn hình 2024-09-30 101534.png" />
          
            <img src="~/Content/anh/Ảnh chụp màn hình 2024-09-30 101545.png" />
          
        </b>
    </td>
</div>