
@{
    ViewBag.Title = "THTrueMilk";
    Layout = "~/ProjectV2/Product_Layout.cshtml";
}

<title>Sữa tươi tiệt trùng TH true Milk 180ml</title>
<h1 style="color:blue;"> Sữa tươi tiệt trùng TH True Milk có đường 180ml</h1>
<table cellpadding="10" cellspacing="10" width="80%">
    <tr>
        <td rowspan="4" align="center" width="20%" border="1">
           <b> <img src="~/ProjectV2/Image/TH truemilk.png" style="border:1px solid black"/></b>
        </td>
    </tr>
    <tr>
        <td><h2>_ Hoàn toàn từ sữa tươi sạch nguyên chất của trang trại TH <br />_ Được sản xuất theo quy trình sạch, khép kín từ đồng cỏ đến bàn ăn<br />_ Không sử dụng chất bảo quản</h2></td>
    </tr>
    <tr><td><h2><s style="color:red">23.000</s> 19.000 </h2></td></tr>
</table>
