<!DOCTYPE html>

<html>
<head>
    <div style="width:auto; height:45px;background-color: aquamarine; align-content:center">
        <div style="font-size: 10px; color:forestgreen; text-align:center">Freeship đơn từ 45k, giảm nhiều hơn cùng <b><i style="color: blue">FREESHIP</i></b><i> EXTRA</i></></div>
    </div>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Hướng dẫn sử dụng Fontawesome 5 | kentrung</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="~/Content/STL/mystyle.css" rel="stylesheet" />
</head>
<body>
    <div id="div_top2">
        <table border="0" cellpadding="10" cellspacing="10" width="100%">
            <tr>
                <td rowspan="2" width="60" height="60">
                    <img src="~/Content/ảnh/logo.jpg" width="70" height="70" />

                </td>
                <td colspan="11" width="70%">
                    <input type="text" id="name" size="175" value="giá siêu rẻ" />
                </td>
                <td>
                    <input type="button" value="Tìm kiếm" />
                </td>
                <td> <input type="button" value="Trang chủ" /></td>
                <td><input type="button" value="Tài khoản" /></td>
            </tr>
            <tr>
                <td>Điện gia dụng</td>
                <td> xe cộ</td>
                <td> mẹ và bé</td>
                <td> khỏe đẹp</td>
                <td> nhà cửa</td>
                <td> sách</td>
                <td> thể thao</td>
                <td> iphone 13</td>
                <td>điện thoại</td>
                <td>ipad air 5</td>
                <td>oppo A17K</td>
            </tr>
        </table>
    </div>
    </div>
    <div id="div-mid">
    </div>
    @RenderBody()
    <div style="width:100%; height:5000px; background-color:whitesmoke"></div>
    </div>
</body>
</html>