 <!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
    <meta name="keywords" content="Lập trình Web cơ bản">
    <title>'Lào Cai 'chốt' địa điểm xây khu tái định cư Làng Nủ, ngày mai bắt đầu triển khai' </title>
</head>
<body>
    <h1>'Lào Cai 'chốt' địa điểm xây khu tái định cư Làng Nủ, ngày mai bắt đầu triển khai' </h1>
    <h3>Khu tái định cư mới được chọn xây dựng tại khu vực đồi sim, cách Nhà văn hóa thôn Làng Nủ (Lào Cai) khoảng 2km. Đây là khu vực địa hình cao, an toàn, thuận lợi bố trí giao thông, điện nước.</h3>
    <p>
        <strong>
            Chiều 15-9, Chủ tịch UBND tỉnh Lào Cai Trịnh Xuân Trường chủ trì buổi làm việc, khảo sát thực tế địa hình với các cơ quan của tỉnh, Đại học Mỏ - Địa chất, chuyên gia về địa chất, thường trực Huyện ủy Bảo Yên về phương án bố trí khu vực tái định cư thôn Làng Nủ (xã Phúc Khánh).
        </strong> 
    </p>
    
</body>
</html>
