
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bt3</title>
</head>
<body>
    <table border="1" cellpadding="10" cellspacing="10" width="800">
        <tr>
            <td colspan="5">Thông tin sinh viên  </td> @*hàng đầu tiên*@ 
        </tr>
        <tr>

        <tr>
            <td rowspan="4"
            <td rowspan"4" align="center" width="30%">
                <img src="~/Content/avatar/avatar2.png" width="200"/>
            </td>   @*ảnh trong khung  1 cột 4 hàng*@ 
            <td> HỌ VÀ TÊN </td>
            <td colspan="3" align="left"> <strong> Nguyễn Phước Hiền <strong> </td> 
        <tr>              
            <td> MÃ SỐ SINH VIÊN </td>
            <td><strong>23dh111015<strong></td>
            <td> GIỚI TÍNH </td>
            <td><strong>Nam<strong></td>
        </tr>
        </tr>
       
        <tr>            
            <td>EMAIL</td>
            <td><strong>23dh111015@st.huflit.edu.vn<strong> </td>
            <td>SỐ ĐIỆN THOẠI </td>
            <td><strong>0862991326<strong></td>
        </tr>
        <tr>                          
            <td align="left" width="30%"> SỞ THÍCH  </td>
            <td colspan="3" align="left"> <strong> Viết chương trình <strong> </td>
        </tr>
        </tr>
    </table>
</body>
</html>
