<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Hiển thị công thức</title>
</head>
<body>
    <h1>Các công thức</h1>
    <ul>
        <li>
            <p>Công thức toán học: <span>(6x<sup>3</sup>+5<sup> 2</sup>x4)<sup> 2</sup>+5=0</span></p>
        </li>
        <li>
            <p>Công thức hóa học: <span>Axit sulfuric: H<sub>2</sub>SO<sub>4</sub></span></p>
        </li>
    </ul>
</body>
</html>
