<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ProjectV2/MyStyle01.css" rel="stylesheet" />

</head>
<body>
   <div id="scroll-banner">
       <div id="scroll-text"><h2 style="color:red">Tưng bừng khuyến mãi Giáng sinh 2024 tại MarketS với khuyến mãi lên đến 20%</h2></div>
 
   </div>
    <div id="div-top">
        <table cellpadding="1" cellspacing="1">
            <tr>
                <td>
                    <a href="http://localhost:62370/MainPage/MainPage01"> <img src="~/ProjectV2/Image/Logo 01.png" float="left" height="90" width="90"></a>
                    @*<a href="https://www.facebook.com/">
                        <img src="~/ProjectV2/Image/Logo 01.png" float="left"height="90"width="90" />
                    </a>*@
                </td>
                <td colspan="8"><a href="http://localhost:62370/MainPage/MainPage01"><h1 style="color:black" align="center">MarketS - bạn của mọi nhà</h1></a></td>
            </tr>
        </table>
        <hr align="center" width="94%" size="1" noshade>
    </div>

    <div>
        <div id="div-left" align="center"><div id="scroll-text-up"><h2 style="color:red">Liên hệ quảng cáo</h2></div></div>
        <div id=" div-content">
            <div id="div-right" align="center">RIGHT</div>
            @RenderBody()

        </div>
        
    </div>


    <div id="div-footer">
        <hr align="center" width="94%" size="1" noshade>
        <p><h2 align="center">Danh sách nhóm</h2></p>
        <br>
        <table border="1" width="100%">
            <tr>
                <td colspan="2" align="center"><b>Chủ đề thuyết trình nhóm :</b></td>
                <td colspan="3" align="center"><b>Làm trang web bán siêu thị mini</b></td>
            </tr>
            <tr>
                <td align="center"><b>Nguyễn Phước Hiền<br />23DH111015</b></td>
                <td align="center"><b>Trần Thanh Liêm<br />23DH111852</b></td>
                <td align="center"><b>Huỳnh Phú Bình<br />23DH110299</b></td>
                <td align="center"><b>Đỗ Thanh Hiệp<br />23DH111076</b></td>
                <td align="center"><b>Võ Tuấn Đạt<br />23DH110729</b></td>
            </tr>
        </table>

    </div>
</body>
</html>
